body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div[contenteditable=true] {
    background-color: white;
}

div.q {
    float: left;
    width: 30em;
    height: 8em;
    padding: 0.5em;
    margin:1em;
    background-color:oldlace;
}

.clue {
    height: 6em;
}

#controls {
    clear: left;
}

#buttonGroup2 {
    display: none;
}