:root {
    --xiketic: #0c020f;
    --cinnabar: #D64933;
    --cool-grey: #938ba1ff;
    --periwinkle-crayola: #6597EC;
    --state-blue: #6665DD;
    --game-time: #90000c;
    --game-dark: #730e17;
    --golden:  #eec753;
    --correct: #2ee40080;
    --whitish: #ffffff
}

body, html {
    overflow-y: hidden;
}

body {
    font-family: 'League Spartan', sans-serif;
    color: var(--whitish);
    background-color: var(--game-time);
}

.hidden {
    visibility: hidden;
    display: none;
}

.shrunk {
    height: 0em;
}

.invisible {
    visibility: hidden;
}

.flipped {
    transform: scaleX(-1);
}

.mobileOnly {
    display: none;
}

.bold {
    font-weight: bolder;
    color: darkblue;
    font-size: x-large;
}

.center {
    text-align: center;
}

#root {
    height: 100%
}

#siteName, #siteName a {
    text-align: center;
    z-index: 1;
    font-size: 30px;
    color: inherit;
    text-decoration: none;
    font-family: 'Actor', sans-serif;
}

div[contenteditable=true] {
    background-color: var(--periwinkle-crayola);
}

div.q {
    width: 95%;
    height: auto;
    padding: 0.5em;
    margin-left: auto;
    background-color: var(--state-blue);
    color: var(--golden);
    font-size: xx-large;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 25px;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-sizing: border-box;
}

#buttonGroup2 {
    display: none;
}

div#answerBlock {
    font-family: 'Actor', sans-serif;
    text-align: center;
}

span#answer, div#answer {
    font-family: serif;
    font-size: 4em;
}

#def {
    margin-top: 2.5em;
    color: var(--golden);
    min-height: 5em;

    margin-left: 2.5em;
    font-size: larger;
}

.clue {
    padding: 1em;
}

button, .button {
    font-size: x-large;
    margin: 5px;
    align-items: center;
    background-clip: padding-box;
    background-color: var(--cool-grey);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    min-height: 3rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    transition: all 250ms;
    user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    margin-right: 2em;    
}

div#buttonContainer {
    clear: both;
    margin-left: 3em;
    margin-top: 1em;
}

span#result {
    font-size: larger;
    float: right;
    margin-right: 5em;
}

.answer {
    height: 1em;
    padding-left: 3px;
    padding-right: 3px;
}

#reactContainer {
    padding-top: 5em;
    left: 50%;
    width: 75%;
    font-size: 1.5em;
    margin: 0 auto;
}

#meaning {
    min-height: 2em;
    margin-left: 0.5em;
}

span#IPA, div#IPA {
    margin-left: 0.5em;
}

#part2 {
    float: right;
}

#parts {
    color: var(--cool-grey);
    font-size: 1em;
    font-style: italic;
    top: 47px;
    position: relative;
}

div#foot {
    height: 22px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0;
    z-index: 0;
}

#foot a {
    margin-right: 5px;
}

#menuWrapper {
    position: fixed;
    top: 49px;
    border-right: solid 1px var(--golden);
    height: 100%;
    width: 13em;
    padding-left: 1em;
    background: var(--whitish);
    color: var(--cool-grey);
    transition: 0.7s;
    transition-timing-function: ease-in-out;
    z-index: 5;
}

#menuWrapper.slideOff {
    left: -300px;
}

#menuWrapper ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    margin-top: 2em;
    margin-right: 0.5em;
}

#menuWrapper li {
    margin-bottom: 8px;
}

#menuWrapper li img {
    vertical-align: middle;
    margin-right: 5px;
}

#menuWrapper li a, #menuWrapper li span {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--game-dark);
}

.closeMenu {
    cursor: pointer;
    float: right;
}

#iconBoxLeft {
    position: absolute;
    margin-left: 5px;
    z-index: 2;
}

#iconBoxRight {
    position: absolute;
    right: 17px;
    z-index: 2;
}

.navButton {
    height: 37px;
    cursor: pointer;
}

span#credit {
    float: right;
    margin-right: 1em;
}

.guessBox {
    padding: 1em;
    border: solid 2px var(--golden);
    text-align: center;
    font-size: larger;
}

#answerBox {
    margin-top: 3em;
}

.guessBox div {
    height: 5em;
}

#guessBox1 {
    margin-right: 0.5em;
}

.guessbox input, .guessbox span {
    width: 33%;
    font-size: larger;
    margin: 2em;
    color: var(--whitish);
    padding: 4px;
}

#reactContainer .guessBox input {
    background-color: var(--game-dark);
    color: var(--whitish);
}

#reactContainer.correct .guessBox input {
    background-color:var(--game-dark);
}

.correct #revealButton {
    display: none;
}

#nextButton {
    display: none;
}

.correct #nextButton {
    display: inherit;
}

div#header {
    height: 37px;
    position: fixed;
    top: 0px;
    border-bottom: solid 1px var(--golden);
    width: 100%;
    left: 0;
    background-color: var(--game-dark);
    padding: 5px;
    z-index: 1;
}

img#correctImage {
    height: 5em;
    position: relative;
    top: 7.5em;
    left: -12em;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}

img#correctImage.shrunk {
    height: 0em;
    transition-duration: 0s;
}

#shareModal {
    z-index: 3;
    background-color: var(--whitish);
    position: fixed;
    width: 40%;
    margin-left: 30%;
    padding: 1em;
    padding-bottom: 2em;
    min-height: 50%;
    top: 25%;
    border: black solid 2px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 30%) 5px 5px 5px 0;
    box-sizing: border-box;
}

#shareButtons {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.shareButton {
    height: 60px;
    width: 60px;
    margin: 5px;
}

.shareButton a {
    text-decoration: none;
    color: var(--periwinkle-crayola);
}

.copyLinkButton {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.button {
    margin-top: 1.5em;
}

#helpContainer {
    position: absolute;
    top: 70px;
    left: 18%;
    width: 64%;
    background-color: var(--whitish);
    border: 1px solid transparent;
    border-radius: 0.25rem;
    box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
    box-sizing: border-box;
    min-height: 60vh;
}

#helpModal {
    padding: 2em;
}

#whatsapp {
    background-image: url(/static/icons/whatsapp.svg);
}

#twitter {
    background-image: url(/static/icons/twitter.svg);
}

#facebook {
    background-image: url(/static/icons/facebook.svg);
}

@media only screen and (max-device-width: 800px) {

    .mobileOnly {
        display: inherit;
    }

    .notMobile {
        display: none;
    }

    html>body {
        zoom: 2;
    }

    html>body.quiz {
        zoom: 2;
    }

    html, body {
        overflow-y: inherit;
    }

    label.switch {
        top: initial;
    }

    div#reactContainer {
        width: 100%;
        height: 30em;
        font-size: inherit;
    }

    .guessbox input {
        margin: 0px;
        margin-top: 12px;
        display: block;
        width: 100%;
    }

    #guesses {
        display: inherit;
    }

    .guessBox {
        width: 90%;
        margin-bottom: 5px;;
    }

    div#root {
        width: inherit;
    }

    answer {
        font-size: 2.3em;
    }

    #shareModal {
        width: 80%;
        margin-left: 10%;
        height: 80%;
        top: 5%;
    }

    #shareModal h1 {
        clear: both;
    }

    @media only screen and (orientation:landscape) {
        html>body {
            zoom: 2;
        }
        div#reactContainer {
            top: 0px;
            margin-top: 0px;
            padding: 0px;
        }
        #foot, #header {
            display: none;
        }
        #buttonContainer {
            margin-left: 0;
        }
        #parts {
            top: 0px;
            position: inherit;
        }
    }

  }